/vendor/
.idea
**/.DS_Store
**.log
test.db
performance_results.db
**/measurements*.csv
composer.lock
**/cachegrind.out.*
tools
.php-cs-fixer.cache
.phpunit.result.cache
out
lib_nightly
my-ui.db
my-network-usage.db
dutch_railway_network.duckdb
oil-and-gas.parquet
.phpbench
