*.so filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text

/.github    export-ignore
/.docs      export-ignore
./examples  export-ignore
./scripts   export-ignore
./test      export-ignore

.php-cs-fixer.dist.php  export-ignore
.readthedocs.yaml       export-ignore
Dockerfile              export-ignore
mkdocs.yaml             export-ignore
PERFORMANCE.md          export-ignore
phpbench.json           export-ignore
phpstan.neon            export-ignore
phpunit.xml.dist        export-ignore
preload.php             export-ignore
README.md               export-ignore
ROADMAP.md              export-ignore
sonar-project.properties    export-ignore
